$game-board-min-width:600px;
$game-board-max-width:1000px;
$game-board-width:80%;

// COLORS:
$match-game-challenge-color:white;
$control-panel-button-color:rgb(53, 196, 53);
$timer-button-color:rgb(223, 95, 10);
$card-selection-pulldown-color:rgb(53, 196, 53);
$card-selection-pulldown-font-color:black;
$card-selection-pulldown-hover-font-color:whiteblack;
$status-bar-color:white;

$control-panel-border-style:5px solid black;
$options-panel-border-style:5px solid black;
$card-border-style:5px solid black;

$game-board-border-style:3px solid white;
$timer-border-style:3px solid black;