.timer_class {
    background-color: $timer-button-color;
    border: $timer-border-style;
  
    font-size: 1.4em;
    margin-top: 1.6%;
    margin-right: 6em;
  
    width: 30%;
    height: 55%;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5em;
}